<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" translate>App Angular</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate> Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/carros" routerLinkActive="active">
          <i class="fas fa-car"></i>
          <span translate> Cars</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate> About</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{ currentLanguage }}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{ language }}
            </button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle">
              <b> {{ username }}</b>
            </i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <div class="dropdown-item" translate>Profile</div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
