<footer style="position: absolute; bottom: 0; text-align: center; width: 100%;">
  <div class="card-header">App Angular {{ version }} - Treinamento</div>
  <div class="card-body">
    <h6 class="card-title">Copyright @ {{ year }}</h6>
  </div>
</footer>
